.container {
  display: flex;
  flex-direction: column;
}
.productsList {
  padding: 13px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 500px;
  gap: 20px;
  align-items: start;
  justify-items: center;
}
